<div class="jumbotron">
  <h2>Admin Dashboard</h2>
  <h4>Total products count: <%= @product_count %></h4>
  <h4>Total categories count: <%= @category_count %></h4>
  <%= link_to "To admin products", admin_products_path, class: 'btn btn-lg btn-primary continue' %>
</div>
