<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You just placed an order, <%= @user.firstname %></h1>
    <p>
      You have successfully placed an order on jungle,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for your purchasing and have a great day!</p>
  </body>
</html>